.cards-carousel .swiper {
	@apply py-1 px-5 lg:p-1;
}

.cards-carousel .swiper-button-disabled svg {
	@apply opacity-20;
}

.cards-carousel-scrollbar {
	@apply h-1 rounded-sm;
	width: 300px;
}

.cards-carousel-scrollbar {
	@apply bg-lightGrey;
}

.cards-carousel-scrollbar>.swiper-scrollbar-drag {
	@apply bg-darkBlue rounded-sm;
}