@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	@font-face {
		font-family: "Barlow Semi Condensed Bold";
		font-weight: 700;
		src: url("../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf") format("truetype");
	}

	@font-face {
		font-family: "Rubik";
		font-weight: 400;
		src: url("../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
	}

	@font-face {
		font-family: "Rubik Medium";
		font-weight: 500;
		src: url("../assets/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
	}

	/* Headings */
	h1 {
		@apply font-barlow text-h1 text-darkBlue;
	}

	h2 {
		@apply font-barlow text-h2 text-darkBlue;
	}

	h3 {
		@apply font-barlow text-h3 text-darkBlue;
	}

	h4 {
		@apply font-barlow text-h4 text-darkBlue;
	}

	h5 {
		@apply font-barlow text-h5 text-darkBlue;
	}

	/* Body */
	.body-xl {
		@apply font-rubik text-xl text-darkBlue;
	}

	.body-lg {
		@apply font-rubik text-lg text-darkBlue;
	}

	.body-base {
		@apply font-rubik text-base text-darkBlue;
	}

	.body-sm {
		@apply font-rubik text-sm text-darkBlue;
	}

	.body-xs {
		@apply font-rubik text-xs text-darkBlue;
	}

	/* Body Bold */
	.body-xl-bold {
		@apply font-rubik-medium body-xl text-darkBlue;
	}

	.body-lg-bold {
		@apply font-rubik-medium body-lg text-darkBlue;
	}

	.body-base-bold {
		@apply font-rubik-medium body-base text-darkBlue;
	}

	.body-sm-bold {
		@apply font-rubik-medium body-sm text-darkBlue;
	}

	.body-xs-bold {
		@apply font-rubik-medium body-xs text-darkBlue;
	}

	/* Label */
	.label-lg {
		@apply body-sm-bold text-darkBlue;
		letter-spacing: 0.05em;
	}

	.label-base {
		@apply body-xs-bold text-darkBlue;
		letter-spacing: 0.05em;
	}

	.label-sm {
		@apply label-base text-darkBlue;
		font-size: 11px;
	}

	/* Button */
	.button-base {
		@apply font-barlow text-base uppercase text-darkBlue;
		letter-spacing: 0.04em;
	}

	.button-sm {
		@apply font-barlow uppercase text-darkBlue;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.04em;
	}

	/* Gradients */

	.one {
		background: linear-gradient(118.61deg, #00FFFF 0.44%, #0A003E 82.79%);
	}

	.two {
		background: linear-gradient(118.61deg, #DAFF00 0.44%, #00FFFF 82.79%);
	}

	.three {
		background: linear-gradient(118.61deg, #59FF26 0.44%, #DAFF00 82.79%);
	}

	.four {
		background: linear-gradient(118.61deg, #00FFFF 0.44%, #59FF26 82.79%);
	}
}